%h1 Listing standards

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @standards.each do |standard|
      %tr
        %td= standard.name
        %td= link_to 'Show', standard
        %td= link_to 'Edit', edit_standard_path(standard)
        %td= link_to 'Destroy', standard, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Standard', new_standard_path
