= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :company_id
    = f.collection_select(:company_id, Company.all, :id, :name)
  .field
    = f.label :period_id
    = f.collection_select(:period_id, Period.all, :id, :year)
  .field
    = f.label :standard_id
    = f.collection_select(:standard_id, Standard.all, :id, :name)
  .field
    = f.label :currency_id
    = f.collection_select(:currency_id, Currency.all, :id, :name)
  - @indicators.each do |indicator|
    .field
      = f.label indicator.name
      = hidden_field_tag 'report[values_attributes][][indicator_id]', indicator.id
      - value = @values ? @values.where(indicator_id: indicator.id, report_id: @report.id).first.value : ''
      = text_field_tag 'report[values_attributes][][value]', value, id: "report_#{indicator.name}"
      - if @values
        = hidden_field_tag 'report[values_attributes][][id]', @values.where(indicator_id: indicator.id, report_id: @report.id).first.id
  .actions
    = f.submit 'Save'
