%h2 Reports

%table
  %thead
    %tr
      %th Company
      %th Period
      %th Currency
      %th Standard
      %th
      %th
      %th

  %tbody
    - @reports.each do |report|
      %tr
        %td= report.company.name
        %td= report.period.year
        %td= report.currency.name
        %td= report.standard.name
        %td= link_to 'Show', report
        %td= link_to 'Edit', edit_report_path(report)
        %td= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Report', new_report_path
