%nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex.justify-content-between
  = link_to 'FIN', root_path, class: 'navbar-brand'
  - if user_signed_in?
    %span
      %span.mr-2= current_user.name
      %span= link_to "Sign out", destroy_user_session_path, :method => :delete
  - elsif controller_name != 'sessions' && controller_name != 'registrations'
    = link_to "Sign in", new_user_session_path

- if notice
  #snackbar= notice

- if alert
  #snackbar= alert
